body {
    background: rgb(220, 220, 220);
    color: rgb(30, 30, 30);
    margin: 0;
    font-family: Arial, SansSerif, serif;
}

a, a:link, a:visited {
    text-decoration: underline;
    color: inherit;
}

.menu {
    background: rgb(180, 180, 180);
    width: 80%;
    height: 7%;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 0;
}

.menu p {
    font-size: 120%;
    font-weight: bolder;
}

.content {
    position: absolute;
    margin: 4% 10% 0 10%;
    z-index: -1;
}

.card {
    border-radius: 8px;
    width: 240px;
    height: 360px;
    background: rgb(180, 180, 180);
    margin: 0 3% 3% 0;
    position: relative;
}

.card .btn {
    position: absolute;
    left: 0;
    bottom: 1%;
}

.card img {
    border-radius: 8px 8px 0 0;
    width: 240px;
    height: 240px;
}

h2 {
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
h3 {
    font-weight: lighter;
    font-size: 80%;
    margin: 0 5% 3%;
}
.btn {
    margin: 0 5% 2%;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bolder;
    padding: 7px 15px 7px 15px;
    background: rgb(220, 220, 220);
    justify-self: flex-end;
}

.btn:hover {
    background: #CA5D5D;
}

.rect {
    margin: 0 5% 3%;
    border: none;
    border-radius: 8px;
    background: rgb(220, 220, 220);
    padding: 7px 15px 7px 15px;
    font-size: 100%;
}

dialog {
    width: 60%;
    border: none;
}


.dialog {
    border: none;
    display: flex;
    flex-direction: column;

}

.dialog p {
    margin: 0 5% 2%;
}

.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.btn-up {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
}

#day, #night {
    border: none;
    background: none;
}

#day {
    display: none;
}

#btn-up-night {
    display: none;
}
